@using RaceCorp.Common
@{
    var currentUserId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);

    var isOwner = false;
    if (currentUserId != null)
    {
        isOwner = currentUserId == Model.Id;
    }



}

<ul class="nav-buttons-user">

    @if (isOwner)
    {
        <li>
            <form method="get">
                <button asp-action="Requests" asp-controller="User" asp-area="" asp-route-id="@Model.Id" class="mailbox form-control">
                    📨 Requests
                    <div class="notification" role="status">@Model.RequestsCount</div>
                </button>
            </form>
        </li>
    }


    @if (isOwner)
    {
        <li>
            <form method="get">
                <button asp-action="Inbox" asp-controller="User" asp-area="" asp-route-id="@Model.Id" class="mailbox form-control">
                    📨 Messages
                    <div class="notification" role="status"></div>
                </button>
            </form>
        </li>


    }
    else if (Model.CanMessageMe)
    {
        <li>

            <a asp-action="Message" asp-controller="User" asp-area="" asp-route-receiverId="@Model.Id" asp-route-senderId="@currentUserId"  class="btn mailbox form-control">
                📨 Send Message
            </a>

        </li>

        <li>
            <form method="post">
                <button asp-action="Request" asp-controller="Event" asp-area="" asp-route-type="@GlobalConstants.RequestTypeDisconnectUser" asp-route-requesterId="@currentUserId" asp-route-targetId="@Model.Id" class="mailbox form-control">
                    Disconnect
                </button>
            </form>
        </li>

    }


    @if (Model.IsConnected == false && isOwner == false)
    {

        if (Model.RequestedConnection == false)
        {
            @*                <a asp-action="Request" asp-controller="Event" asp-route-targetId="@Model.Id" asp-route-type="@GlobalConstants.RequestTypeTeamJoin" asp-route-requesterId=@this.User.FindFirst(ClaimTypes.NameIdentifier)?.Value>
    *@
            <li>
                <form method="post">
                    <button asp-action="Request" asp-controller="Event" asp-area="" asp-route-type="@GlobalConstants.RequestTypeConnectUser" asp-route-requesterId="@currentUserId" asp-route-targetId="@Model.Id" class="mailbox form-control">
                        Connect
                    </button>
                </form>
            </li>
        }
        else
        {
            <li>
                <button type="button" class="mailbox form-control">
                    Requested Connection
                </button>
            </li>
        }

    }
</ul>
