@{
    var currentUserId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);

    var isOwner = false;
    if (currentUserId != null)
    {
        isOwner = currentUserId == Model.Id;
    }

}

<ul class="nav-buttons-user">

    @if (isOwner)
    {
        <li>
            <form method="get">
                <button asp-action="Requests" asp-controller="User" asp-area="" asp-route-id="@Model.Id" class="mailbox form-control">
                    📨 Requests
                    <div class="notification" role="status">@Model.RequestsCount</div>
                </button>
            </form>
        </li>
    }
    <li>

        @if(isOwner)
        {
            <form method="get">
                <button asp-action="Message" asp-controller="User" asp-area="" asp-route-id="@Model.Id" class="mailbox form-control">
                    📨 Messages
                    <div class="notification" role="status"></div>
                </button>
            </form>
        }
        else
        {
            <form method="get">
                <button asp-action="Message" asp-controller="User" asp-area="" asp-route-id="@Model.Id" class="mailbox form-control">
                    📨 Send Message
                    <div class="notification" role="status"></div>
                </button>
            </form>
        }
        
    </li>
    @if (Model.IsConnected == false && isOwner == false)
    {
        <li>
            <form method="post">
                <button asp-action="ConnectRequest" asp-controller="User" asp-area="" asp-route-targetUserId="@Model.Id" class="mailbox form-control">
                    Connect
                </button>
            </form>
        </li>
    }
</ul>
