@using RaceCorp.Common
@using RaceCorp.Web.ViewModels.ApplicationUsers
@model UserInboxViewModel

<style>
    img {
        border-radius: 30%;
    }
</style>
<div id="divContainer" class="container-messages">
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Inbox</h4>
                    </div>
                </div>
                <div class="inbox_chat">
                    @foreach (var conversation in Model.Conversations)
                    {
                        <div class="chat_list active_chat">
                            <a class="btn">

                                <div class="chat_people" id="@conversation.Id">
                                    <input type="hidden" class="conversationId" name="custId" value="@conversation.Id">
                                    <div class="chat_img"> <img src="@conversation.UserProfilePicturePath" alt="@conversation.UserFirstName"> </div>
                                    <div class="chat_ib">

                                        <h5>@conversation.UserFirstName @conversation.UserLastName</h5><span>@conversation.LastMessageContent</span>
                                    </div>
                                </div>
                            </a>

                        </div>
                    }
                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history">
                    <input type="hidden" class="sender" name="custId" value="@Model.Email">
                    <input type="hidden" class="receiver" name="custId" value="3487">
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="@GlobalConstants.RacesCarocelPicture" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>
                                    Test which is a new approach to have all
                                    solutions
                                </p>
                                <span class="time_date"> 11:01 AM    |    June 9</span>
                            </div>
                        </div>
                    </div>
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>
                                Test which is a new approach to have all
                                solutions
                            </p>
                            <span class="time_date"> 11:01 AM    |    June 9</span>
                        </div>
                    </div>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message" />
                        <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

@section Scripts {
    <script>

        window.addEventListener('load', (event) => {

            var aElements = document.querySelectorAll(".chat_people").forEach(e => e.addEventListener("click", (evnt) => {
                evnt.preventDefault();

                evnt.target;

                console.log(evnt.target.id);
            }));


            console.log(aElements);
        });

    </script>
}