@model RaceCorp.Web.ViewModels.ApplicationUsers.UserProfileViewModel;

<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
        <p class="card-text">Email: @Model.UserName</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Town name: @Model.TownName</li>
        <li class="list-group-item">Country: @Model.Country</li>
    </ul>
    <div class="card-body">
        @if (Model.Rides.Count() != 0)
        {
            <b>Rides</b>
            <ol>
                @foreach (var ride in Model.Rides)
                {
                    <li>@ride.RideName ,@ride.RideTraceStartTime</li>
                }
            </ol>
        }
        @if (Model.Traces.Count != 0)
        {
            <b>Race</b>
            <ol>
                @foreach (var trace in Model.Traces)
                {
                    <li>@trace.RaceName - @trace.TraceName - @trace.TraceStartTime</li>



                }
            </ol>
        }


    </div>
</div>