@model RaceCorp.Web.ViewModels.ApplicationUsers.UserProfileViewModel;

@{
    var currentUserIdClaim = this.User.FindFirst(ClaimTypes.NameIdentifier);
    string currentUserId = null;
    if (currentUserIdClaim != null)
    {
        currentUserId = this.User.FindFirst(ClaimTypes.NameIdentifier).Value;

    }
}

@*<form method="post" enctype="multipart/form-data" asp-controller="User" asp-area="" asp-action="UploadProfilePicture" asp-route-userId="@currentUserId">
    <input class="form-control" type="file" name="ProfilePicture" />
    <button class="btn btn-outline-success mb-1 btn-block" type="submit">Upload picture</button>
</form>*@

<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="@Model.ProfilePicturePath" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
                <p class="card-text">Email: @Model.Email</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Town: @Model.TownName</li>
                <li class="list-group-item">Country: @Model.Country</li>
            </ul>
            <div class="card-body">
                @Model.About
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row mb-2">
            <div class="col-md-6">
                @if (Model.Rides.Count() != 0)
                {
                    <h2>Rides registred to</h2>
                    <div class="scrollable mt-2 col-md-3">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Rides</th>
                                    <th scope="col">Start</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var count = 0;
                                    @foreach (var ride in Model.Rides)
                                    {
                                        <tr>
                                            <th scope="row">@(count += 1)</th>
                                            <td><a class="btn btn-outline-secondary text-center" asp-action="Profile" asp-controller="Ride" asp-route-id="@ride.RideId">@ride.RideName</a></td>
                                            <td class="text-center">@ride.RideTraceStartTime</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @if (Model.Traces.Count != 0)
                {
                    <h2>Races registred to</h2>

                    <div class="scrollable mt-2 col-md-3">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Races</th>
                                    <th scope="col">Trace</th>
                                    <th scope="col">Start</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var count = 0;
                                    @foreach (var trace in Model.Traces)
                                    {
                                        <tr>
                                            <th scope="row">@(count += 1)</th>
                                            <td><a class="btn btn-outline-secondary text-center" asp-action="Profile" asp-controller="Race" asp-route-id="@trace.RaceId">@trace.RaceName</a></td>
                                            <td><a class="btn btn-outline-secondary text-center" asp-action="RaceTraceProfile" asp-controller="Trace" asp-route-traceId="@trace.TraceId" asp-route-raceId="@trace.RaceId">@trace.TraceName</a></td>
                                            <td class="text-center">@trace.TraceStartTime</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row mt-1">
    <div class="col-md-6">
        @if (Model.CreatedRides.Count() != 0)
        {
            <h3>Created rides</h3>

            <div class="scrollableMyEvents mt-2">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ride</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var count = 0;
                            @foreach (var ride in Model.CreatedRides)
                            {
                                <tr>
                                    <th scope="row">@(count += 1)</th>
                                    <td><a class="btn btn-outline-secondary text-center" asp-action="Profile" asp-controller="Ride" asp-route-id="@ride.Id">@ride.Name</a></td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }

    </div>

    <div class="col-md-6">
        @if (Model.CreatedRaces.Count() != 0)
        {
            <h3>Created races</h3>

            <div class="scrollableMyEvents mt-2">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Race</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var count = 0;
                            @foreach (var race in Model.CreatedRaces)
                            {
                                <tr>
                                    <th scope="row">@(count += 1)</th>
                                    <td><a class="btn btn-outline-secondary text-center" asp-action="Profile" asp-controller="Race" asp-route-id="@race.Id">@race.Name</a></td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

</div>


