@using RaceCorp.Common
@model RaceCorp.Web.ViewModels.ApplicationUsers.UserProfileViewModel;

@{
    var currentUserId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);

    var isOwner = false;
    if (currentUserId != null)
    {
        isOwner = currentUserId == Model.Id;
    }

    var hasTeam = Model.TeamId != null;

}
<partial name="_UserNavPartial" model="@this.Model" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section id="content" class="container ">
    <!-- Begin .page-heading -->
    <div class="page-heading mt-1">
        <div class="media clearfix">
            <div class="media-left pr30">
                @if (isOwner)
                {
                    <a asp-action="Edit" asp-controller="User" asp-area="" asp-route-id="@Model.Id">
                        <img style="width:30rem" ; class="media-object mw150" src="@Model.ProfilePicturePath">
                    </a>
                }
                else
                {
                    <img style="width:30rem" ; class="media-object mw150" src="@Model.ProfilePicturePath">

                }

            </div>
            <div class="media-body va-m text-center">
                <h2 class="media-heading">
                    @Model.FirstName @Model.LastName
                    <small> - Profile</small>
                </h2>
                <p class="lead">@Model.About</p>
                <div class="row mb-5">
                    <div class="media-links nav-buttons">
                        <ul class="list-inline list-unstyled">
                            <li>
                                <a href="@Model.FacoBookLink" title="facebook link">
                                    <span class="fa fa-facebook-square fs35 text-primary"></span>
                                </a>
                            </li>
                            <li>
                                <a href="@Model.TwitterLink" title="twitter link">
                                    <span class="fa fa-twitter-square fs35 text-info"></span>
                                </a>
                            </li>

                            <li class="hidden">
                                <a href="@Model.LinkedInLink" title="linkedin link">
                                    <span class="fa fa-linkedin-square fs35 text-info"></span>
                                </a>
                            </li>
                            <li class="hidden">
                                <a href="@Model.GitHubLink" title="github link">
                                    <span class="fa fa-github-square fs35 text-dark"></span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="row mt-5">
                    @if (Model.TeamId != null)
                    {

                        <div class="media-left pr30">


                            <p><form method="get"><button style="outline" asp-action="Profile" asp-controller="Team" asp-route-id="@Model.TeamId" type="submit" class="btn btn-lg btn-block"> <h3>Member of  @Model.TeamName</h3></button></form></p>


                        </div>
                    }
                    else if (Model.MemberInTeamId != null)
                    {
                        <div class="media-left pr30">


                            <p><form method="get"><button style="outline" asp-action="Profile" asp-controller="Team" asp-route-id="@Model.MemberInTeamId" type="submit" class="btn btn-block"> <h3>Member of  @Model.MemberInTeamName</h3></button></form></p>


                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-icon">
                        <i class="fa fa-trophy"></i>
                    </span>
                    <span class="panel-title">Races I add</span>
                </div>
                <div class="panel-body pn">
                    <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                        <thead>
                            <tr class="hidden">
                                <th class="mw30">#</th>
                                <th>Name</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var count = 0;
                                @foreach (var race in Model.CreatedRaces)
                                {
                                    <tr>
                                        <th scope="row">@(count += 1)</th>
                                        <td><a class="btn btn-outline-secondary text-center" asp-action="Profile" asp-controller="Race" asp-route-id="@race.Id">@race.Name</a></td>
                                        <td>@race.Date</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-icon">
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="panel-title">Rides I add</span>
                </div>
                <div class="panel-body pn">
                    <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                        <thead>
                            <tr class="hidden">
                                <th class="mw30">#</th>
                                <th>Name</th>

                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var count1 = 0;
                                @foreach (var ride in Model.CreatedRides)
                                {
                                    <tr>
                                        <th scope="row">@(count1 += 1)</th>
                                        <td><a class="btn btn-outline-secondary text-center" asp-action="Profile" asp-controller="Ride" asp-route-id="@ride.Id">@ride.Name</a></td>

                                        <td>@ride.Date</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">

            <div class="tab-block">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab1" data-toggle="tab">My races</a>
                    </li>
                    <li>
                        <a href="#tab2" data-toggle="tab">My rides</a>
                    </li>
                </ul>
                <div class="tab-content p30" style="height: 730px;">
                    <div id="tab1" class="tab-pane active">
                        <div class="media">
                            @if (Model.Traces.Count != 0)
                            {
                                <h3>Races I'm Registered in</h3>

                                @foreach (var raceTrace in Model.Traces)
                                {
                                    <a class="pull-left"> <img class="media-object mn thumbnail mw50" src="@raceTrace.LogoPaht"> </a>
                                    <div class="media-body">
                                        <h5 class="media-heading mb20">
                                            <a asp-action="Profile" asp-controller="Race" asp-route-id="@raceTrace.RaceId" type="button" style="outline" class="btn btn-lg btn-block">@raceTrace.RaceName  , @raceTrace.TraceName</a>

                                            <small> - @raceTrace.TraceStartTime</small>
                                        </h5>

                                    </div>
                                }
                            }
                            else
                            {
                                @if (isOwner)
                                {
                                    <h3>You are not yet registered for any race!</h3>
                                    <a asp-action="All" asp-controller="Race">Why don't you register for a race ?</a>
                                }
                                else
                                {
                                    <h2>Too good for any race</h2>
                                }
                            }
                        </div>




                    </div>
                    <div id="tab2" class="tab-pane active mt-5">
                        <div class="media">
                            @if (Model.Rides.Count != 0)
                            {
                                <h3>Rides I'm Registered in</h3>

                                @foreach (var ride in Model.Rides)
                                {
                                    <a class="pull-left"> <img class="media-object mn thumbnail mw50" src="@GlobalConstants.RideDefaultImage"> </a>
                                    <div class="media-body">
                                        <h5 class="media-heading mb20">
                                            <a asp-action="Profile" asp-controller="Ride" asp-route-id="@ride.RideId" type="button" style="outline" class="btn btn-lg btn-block">@ride.RideName</a>

                                            <small> - @ride.RideTraceStartTime</small>
                                        </h5>

                                    </div>
                                }
                            }
                            else
                            {
                                @if (isOwner)
                                {
                                    <h3>You are not yet registered for any ride!</h3>
                                    <a asp-action="All" asp-controller="Ride">Why don't you register for a ride ?</a>
                                }

                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>