@model RaceCorp.Web.ViewModels.Ride.RideProfileVIewModel

@{
    this.ViewData["Title"] = "Ride Profile";
    var url = "https://gpx.studio/?state=%7B%22ids%22:%5B%22" + Model.TraceGpxGoogleDriveId + "%22%5D%7D&embed&distance";
    var currentUserIdClaim = this.User.FindFirst(ClaimTypes.NameIdentifier);
    var isRegistered = false;
    string currentUserId = null;
    if (currentUserIdClaim != null)
    {
        currentUserId = this.User.FindFirst(ClaimTypes.NameIdentifier).Value;
        isRegistered = Model.RegisteredUsers.Any(u => u.ApplicationUserId == currentUserId);
    }



    var hasPassed = DateTime.Parse(Model.StartTime) < DateTime.Now;
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

@if (this.TempData.ContainsKey("Unregistered"))
{
    <div class="alert alert-success">@this.TempData["Unregistered"]</div>
}

@if (this.TempData.ContainsKey("Registered"))
{
    <div class="alert alert-success">@this.TempData["Registered"]</div>
}
<h1>@Model.Name</h1>


<div class="row">
    <div class="offset-0 col-md-5 col-xl-5 col-sm-12">
        <iframe width="550" height="400" src="@url" frameborder="1"></iframe>
    </div>
    <div class="col-md-3">
        <div class="card-header">
            Overview
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Start time: @Model.StartTime</li>

            <li class="list-group-item">Difficulty: @Model.Difficulty</li>
            <li class="list-group-item">Length: @Model.Length km.</li>
            <li class="list-group-item">Control time: @Model.ControlTime h</li>
            <li class="list-group-item">Ride name: @Model.TraceName</li>
            <li class="list-group-item">Description: @Model.Description</li>
        </ul>
    </div>
    <div class="col-md-2">
        @if (hasPassed)
        {
            <button class="btn btn-outline-success btn-block disabled mb-1">Event has passed! Try it next time!</button>

        }
        else if (isRegistered)
        {
            <form method="post"
              asp-controller="Ride" asp-action="Unregister" asp-route-userId="@currentUserId" asp-route-id="@Model.Id" asp-route-eventType="Ride">
                <button class="btn btn-outline-success mb-1 btn-block" type="submit">Unregister</button>
            </form>
        }
        else if (currentUserIdClaim != null)
        {

            <form method="post"
              asp-controller="Ride" asp-action="Register" asp-route-userId="@currentUserId" asp-route-id="@Model.Id" asp-route-eventType="Ride">
                <button class="btn btn-outline-success mb-1 btn-block" type="submit">Register</button>
            </form>


        }
        <form method="get">
            <button class="btn btn-outline-info mb-1 btn-block" asp-controller="Trace" asp-action="DownloadGpx" asp-route-id="@Model.TraceGpxId">Download Gpx file</button>
        </form>
        <form method="get">
            <button class="btn btn-outline-secondary mb-1 btn-block" asp-controller="Ride" asp-action="Edit" asp-route-id="@Model.Id">Edit</button>
        </form>
        <form method="post"
              asp-controller="Ride" asp-action="Delete" asp-route-id="@Model.Id">
            <button class="btn btn-outline-success mb-1" type="submit">Delete</button>
        </form>
    </div>
    <div class="col-md-4">
        @if (Model.RegisteredUsers.Count() != 0)
        {
            <h3 class="mb-2 mt-2">Registered riders</h3>

            <div class="scrollable  mt-2">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Racer</th>
                            <th scope="col">Team</th>
                            <th scope="col">Town</th>
                            <th scope="col">Trace name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 0;
                            @foreach (var user in Model.RegisteredUsers)
                            {
                                <tr>
                                    <th scope="row">@(count += 1)</th>
                                    <td><a class="btn btn-outline-secondary text-center" asp-area="" asp-action="Profile" asp-controller="User" asp-route-id="@user.ApplicationUserId">@user.FullName</a></td>
                                    <td class="text-center">BTRevolution</td>
                                    <td class="text-center">Town name here</td>
                                    <td class="text-center">@Model.TraceName</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>







