@model IndexViewModel

@{
    this.ViewData["Title"] = "Home Page";

    var towns = Model.Towns.Select(t => new SelectListItem(t.Value, t.Key));
    var mountains = Model.Mountains.Select(t => new SelectListItem(t.Value, t.Key));
    var formats = Model.Formats.Select(t => new SelectListItem(t.Value, t.Key));
    var difficulties = Model.Difficulties.Select(t => new SelectListItem(t.Value, t.Key));

}

<div class="form-control text-center">
<form  id="towns" method="post">
    <div class="row">
        <div class="mb-3">
                <div class="form-control card col-sm-2">
                <div class="card-body text-center">
                    <h5 class="card-title">Towns</h5>
                    <p class="card-text">You can select races from @Model.Towns.Count() towns around the country !</p>
                    <div class="form-group">

                        <select class="form-control text-center" asp-for="TownId" asp-items="@towns">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
                <div class="form-control card col-sm-2">
                <div class="card-body text-center">
                    <h5 class="card-title">Mountains</h5>
                    <p class="card-text">We have races in @Model.Mountains.Count() different mountain ranges! </p>
                    <div class="form-group">

                        <select class="form-control text-center" asp-for="MountainId" asp-items="@mountains">
                        </select>


                    </div>
                </div>
            </div>
        </div>


        <div class="mb-3">
                <div class="form-control card col-sm-2">
                <div class="card-body text-center">
                    <h5 class="card-title">Formats</h5>
                    <p class="card-text">There are @Model.Formats.Count() race formats you can select from! </p>
                    <div class="form-group">

                        <select class="form-control text-center" asp-for="FormatId" asp-items="@formats">
                        </select>


                    </div>

                </div>
            </div>
        </div>
        <div class="mb-3">
                <div class="form-control card col-sm-2">
                <div class="card-body text-center">
                    <h5 class="card-title">Difficulties</h5>
                    <p class="card-text">If you want challenges pick race difficulty!</p>
                    <div class="form-group">

                        <select class="form-control text-center" asp-for="DifficultyId" asp-items="@difficulties">
                        </select>


                    </div>
                </div>
            </div>
        </div>

    </div>
    <input class="mt-2 form-control btn-outline-success" type="submit" value="Ride" />
</form>
</div>