@using RaceCorp.Common
@model IndexViewModel

@{
    this.ViewData["Title"] = "Home Page";
    var defaultImageRoothPath = "images/default/confusedtravolta.jpg";
    //var towns = Model.Towns.Select(t => new SelectListItem(t.Value, t.Key));
    //var mountains = Model.Mountains.Select(t => new SelectListItem(t.Value, t.Key));
    //var formats = Model.Formats.Select(t => new SelectListItem(t.Value, t.Key));
    //var difficulties = Model.Difficulties.Select(t => new SelectListItem(t.Value, t.Key));

}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="@GlobalConstants.TownCarocelPicture" class="d-block w-100" style="width:500px;height:500px">
            <div class="carousel-caption d-none d-md-block">
                <h5>Welcome!</h5>
                <p><a class="btn btn-secondary" asp-controller="Town" asp-action="All"><b>Check all towns with registered races</b></a></p>
            </div>
        </div>



        <div class="carousel-item">
            <img src="@GlobalConstants.MountainCarocelPicture" class="d-block w-100" style="width:500px;height:500px">
            <div class="carousel-caption d-none d-md-block">
                <h5>Amazing views!</h5>
                <p><a class="btn btn-secondary" asp-controller="Mountain" asp-action="All"><b>Check all mountains with registered races</b></a></p>
            </div>
        </div>



        <div class="carousel-item">
            <img src="@GlobalConstants.RacesCarocelPicture" class="d-block w-100" style="width:500px;height:500px">
            <div class="carousel-caption d-none d-md-block">
                <h5>Great! Time for Racing!</h5>
                <p><a class="btn btn-secondary" asp-controller="Race" asp-action="UpcomingRaces"><b>Check the upcoming races!</b></a></p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="@GlobalConstants.RidesCarocelPicture" class="d-block w-100" style="width:500px;height:500px">
            <div class="carousel-caption d-none d-md-block">
                <h5>Great! Time for a ride!</h5>
                <p><a class="btn btn-secondary" asp-controller="Ride" asp-action="UpcomingRides"><b>Check the upcoming rides!</b></a></p>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@*<div class="form-control text-center">
<form  id="towns" method="post">
    <div class="row">
        <div class="mb-3">
                <div class="form-control card col-sm-2">
                <div class="card-body text-center">
                    <h5 class="card-title">Towns</h5>
                    <p class="card-text">You can select races from @Model.Towns.Count() towns around the country !</p>
                    <div class="form-group">

                        <select class="form-control text-center" asp-for="TownId" asp-items="@towns">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
                <div class="form-control card col-sm-2">
                <div class="card-body text-center">
                    <h5 class="card-title">Mountains</h5>
                    <p class="card-text">We have races in @Model.Mountains.Count() different mountain ranges! </p>
                    <div class="form-group">

                        <select class="form-control text-center" asp-for="MountainId" asp-items="@mountains">
                        </select>


                    </div>
                </div>
            </div>
        </div>


        <div class="mb-3">
                <div class="form-control card col-sm-2">
                <div class="card-body text-center">
                    <h5 class="card-title">Formats</h5>
                    <p class="card-text">There are @Model.Formats.Count() race formats you can select from! </p>
                    <div class="form-group">

                        <select class="form-control text-center" asp-for="FormatId" asp-items="@formats">
                        </select>


                    </div>

                </div>
            </div>
        </div>
        <div class="mb-3">
                <div class="form-control card col-sm-2">
                <div class="card-body text-center">
                    <h5 class="card-title">Difficulties</h5>
                    <p class="card-text">If you want challenges pick race difficulty!</p>
                    <div class="form-group">

                        <select class="form-control text-center" asp-for="DifficultyId" asp-items="@difficulties">
                        </select>


                    </div>
                </div>
            </div>
        </div>

    </div>
    <input class="mt-2 form-control btn-outline-success" type="submit" value="Ride" />
</form>
</div>*@