@using RaceCorp.Web.ViewModels.Team
@model List<TeamAllViewModel>
@{
    this.ViewData["Title"] = "All Teams";
}

@if (this.TempData.ContainsKey("AlreadyHaveTeam"))
{
    <div class="alert alert-danger">@this.TempData["AlreadyHaveTeam"]</div>

}
<h2 style="text-align:center">@this.ViewData["Title"]</h2>
<div class="row">
    @foreach (var team in Model)
    {
        <div class="column">
            <div class="card">
                <img src="@team.LogoImagePath" alt="@team.Name" style="width:100%">
                <div class="container">
                    <h2>@team.Name</h2>
                    <p><form method="get"><button asp-action="Profile" asp-controller="Team" asp-route-id="@team.Id" type="submit" class="button">Profile</button></form></p>
                </div>
            </div>
        </div>
    }
</div>
